<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <template id="pagination-template">
    <div class="pagination">
      <div class="pagination__left">
        <a href="#" v-if="hasPrev()" @click.prevent="changePage(prevPage)">Предыдущая</a>
      </div>
      <div class="pagination__mid">
        <ul>
          <li v-if="hasFirst()"><a href="#" @click.prevent="changePage(1)">1</a></li>
          <li v-if="hasFirst()">...</li>
          <li v-for="page in pages">
            <a href="#" @click.prevent="changePage(page)" :class="{ current: current == page }">
              {{ page }}
            </a>
          </li>
          <li v-if="hasLast()">...</li>
          <li v-if="hasLast()"><a href="#" @click.prevent="changePage(totalPages)">{{ totalPages }}</a></li>
        </ul>
      </div>
      <div class="pagination__right">
        <a href="#" v-if="hasNext()" @click.prevent="changePage(nextPage)">Следующая</a>
      </div>
    </div>
  </template>

  <div id="app">

    <section class="grid">
      <div class="grid__item card" v-for="photo in photos">
        <div class="card__body">
          <img :src="photo.urls.small" alt="">
        </div>
        <div class="card__footer media">
          <img :src="photo.user.profile_image.small" alt="" class="media__obj">
          <div class="media__body">
            <a :href="photo.user.portfolio_url" target="_blank">{{ photo.user.name }}</a>
          </div>
        </div>
      </div>
    </section>

    <pagination 
      :current="currentPage" 
      :total="totalPhotos" 
      :per-page="perPage" 
      @page-changed="fetchPhotos"
    ></pagination>

  </div>
  
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
  <script src="pagination.js"></script>
  <script src="app.js"></script>
</body>
</html>